@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-teal-600: #00AA98;
  /* Custom teal we use */
}

body {
  color: var(--foreground);
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

button,
[role="button"],
.cursor-pointer,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

a {
  cursor: pointer;
}